{% extends 'base.html' %}

{% block title %}ログアウト - {% endblock %}

{% block content %}

<section  class="container-fluid">
    <div class="card  border border-dark mb-3">
        <div class="card-header font-weight-bold">ログアウト</div>
        <div class="card-body text-dark">
            <p class="text-left">{{ message }}</p>
        </div><!-- .card-body -->
        <div class="form-group row">
            <div class="col-sm-12 text-center">
                <a class="btn btn-success btn-lg" href="{{ back_url }}" role="button">My Gallery</a>
            </div>
        </div>
    </div><!-- .card -->
</section>
{% endblock %}
