
            <div class="start">
                <div class="card border-light mb-3">
                    <div class="card-header border-light card-title">
                        <h5>{{ starts.title }}</h5>
                    </div>
                    <div class="card-body">
                        <p class="card-text">{{ starts.comment  | nl2br }}</p>
                    </div>
                    <div class="card-footer border-light">
                        <div class="form-group">
                            <div class="text-center">
                                <a class="btn btn-primary btn-lg" href="{{ register_url }}" role="button">{{ btn_title }}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
